body {
    font-family: helvetica, arial, sans-serif;
    margin: 2em;
    background-color: var(--color-bg);
    color: white; 
  }
  
  h1 {
    font-style: italic;
    color: #373fff;
    font-family: verdana, arial, sans-serif; 
  }
  
  button {
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5%;
    padding: 10px;
  }
  
  #button1 {
      background: red;
  }
  #button2 {
      background: orange;
  }
  #button3 {
      background: yellow;
  }
  #button4 {
      background: green;
  }
  #button5 {
      background: blue;
  }
  #button6 {
      background: purple;
  }
  
  .hidden {
    display: none;
  }